@import "./base.css";
@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
@layer components {
  .colored-word-chao {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #bae6fd;
  }
  .colored-word-mung {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #bbf7d0;
  }
  .colored-word-den {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #ede7f6;
  }
  .colored-word-voi {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #fef08a;
  }
  .colored-word-trang {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #fee2e2;
  }
  .colored-word-cua {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #ccfbf1;
  }
  .colored-word-dang {
    @apply text-black px-2 py-1 rounded-md;
    background-color: #fde68a;
  }
  .colored-word-khoa {
    @apply text-black px-2 py-1 rounded-md; /* Không thêm cho từ cuối */
    background-color: #ede7f6;
  }
}
